<div fullscreen>
  <md-content>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <div class="app-details">
          <img src="/logo.png" alt="Flashbapp logo">
          <span>Flashbapp</span>
        </div>
        <button md-fab (click)="formShowing = !formShowing" *ngIf="!formShowing">
          <md-icon>create</md-icon>
        </button>
      </div>
    </md-toolbar>
    <section class="form-container" [ngClass]="{enabled: formShowing}">
      <flash-form [is-on-place]="isOnPlace"
          (checkbox-changed)="updateIsOnPlaceFromInput($event)"
          (close-form)="closeForm($event)"
          [created-marker]="createdMarker"></flash-form>
    </section>
    <section>
      <map-app [is-on-place]="isOnPlace"
          (flash-created)="updateIsOnPlaceFromMap($event)"
          (marker-selected)="openFlashView($event)"></map-app>
    </section>
    <section class="flash-view-container" [ngClass]="{enabled: isFlashViewOpen}">
      <flash-view *ngIf="isFlashViewAlive"
          [marker-values]="selectedMarker"
          (close-view)="isFlashViewOpen = false"></flash-view>
    </section>
  </md-content>
</div>
