/* Main layout */

[fullscreen] {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
}

[md-fab] {
  margin-top: 64px;
}

md-content {
  position: relative;
  left: 0;
  right: 0;

  display: block;
  margin-left: 0;
  margin-right: 0;
}
/* Toolbar */

md-toolbar {
  position: relative;
  z-index: 4;
}

.md-toolbar-tools {
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Initially hidden form */
.form-container {
  position: absolute;
  top: -150px;

  width: 100%;

  transition: all ease-out 0.6s;
  z-index: 3;
}
.form-container.enabled {
  top: 60px;
}

/* Initially hidden view */
.flash-view-container {
  position: absolute;
  right: 0;
  bottom: -300px;
  left: 0;

  transition: all ease-in-out 0.5s;
}
.flash-view-container.enabled {
  bottom: 0;
}
