<div fullscreen>
  <md-content>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <span>Flashbapp</span>
        <button md-fab (click)="formShowing = !formShowing">
          <md-icon>create</md-icon>
        </button>
      </div>
    </md-toolbar>
    <section class="form-container" [ngClass]="{enabled: formShowing}">
      <flash-form [is-on-place]="isOnPlace" (change)="isOnPlaceChange($event);"></flash-form> 
      <map-app [is-on-place]="isOnPlace"></map-app>
      <flash-form></flash-form>
    </section>
  </md-content>
</div>
