input[type="date"] {
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}
input[type="date"]:focus {
  outline-color: #009688;
}

.help-text {
  margin-left: 7px;

  color: gray;
  font-size: 12px;
}
.md-actions {
  overflow: hidden;
}

[md-raised-button] {
  float: right;
}
